.todo {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 13px 18px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(#ddd, 0.3);

  button {
    width: 20px;
    height: 20px;
    border: 2.5px solid #C749CF;
    border-radius: 50%;
  }

  p {
    font-size: 14px;
  }
}